@import '../../variables.scss';
li {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    &.active {
      background-color:#FFF ;
      color: $main_color;
    }

  }